// 统一前缀
$prefix: sf;

// 背景颜色
$bg-header-color: #20a0ff;
$bg-main-color: #fff;
$bg-curr-color: #f9f9f9;
$bg-curr-after-color: #bbb;

// 字体颜色
$ft-f1-color: #111;
$ft-f2-color: #ddd;
$ft-f3-color: #999; // article meta| author description
$ft-f4-color: #fff;
$ft-f5-color: #20a0ff;// author name
$ft-f6-color: #555;


// 线条颜色
$bor-b1-color: #ededed;