@import "../variables.scss";
@import "../mixin.scss";
.#{$prefix} {
    &-headband {
        height: 5px;
        background-color: $bg-header-color;
    }
    &-main {
        margin: 0 auto;
        width: 1140px;
        margin-bottom: 120px;
    }
    &-left {
        display: inline-block;
        width: 250px;
    }
    &-right {
        float: right;
        padding-bottom: 10px;
        min-height: 700px;
        width: 1140 - 250 - 30px;
        background-color: $bg-main-color;
    }
    &-footer {
        height: 60px;
        background-color: $bg-header-color;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        &-about {
            padding-top: 5px;
            &-icons {
                display: block;
                width: 440px;
                margin: 0 auto;
                a {
                    width: 20px;
                    margin: 0 20px;
                    display: inline-block;
                }
            }
        }
        &-credit {
            width: 100%;
            height: 20px;
            line-height: 20px;
            margin-top: 3px;
            span {
                margin: 0 5px;
            }
        }
    }
}