.headband{
    height: 80px;
    background-color: #20a0ff;
}
.main{
    min-width: 1040px;
}
.breadcrumb{
    padding: 20px 30px;
}
.container{
    margin: 0 30px;
    // border: 1px solid #20a0ff;
    overflow: hidden;
}
.left{
    min-width: 173px;
}
