@import "../variables.scss";
@import "../mixin.scss";
.#{$prefix} {
    &-author{
        &-item{
            @include text-clamp(1);
            position: relative;
            margin-left: 0;
            padding: 20px 40px 5px 0;
            width: 80%;
            border-bottom: 1px dashed #ededed;
            opacity: 0;
            @include transition(0.5s);
            &-animate{
                opacity: 1;
                margin-left: 40px;
            }
        }
    }
}