@import "../variables.scss";
@import "../mixin.scss";
.#{$prefix}{
    &-headband{
        height: 5px;
        background-color: $bg-header-color;
    }
    &-main{
        margin: 0 auto;
        width: 940px;
    }
    &-left{
        float: left;
        display: inline-block;
        width: 210px;
    }
    &-right{
        float: right;
        width: 940 - 210 - 30px;
        background-color: $bg-main-color;
    }
}