@import "../variables.scss";
@import "../mixin.scss";
.#{$prefix} {
    &-headband {
        height: 5px;
        background-color: $bg-header-color;
    }
    &-main {
        margin: 0 auto;
        width: 1140px;
    }
    &-left {
        display: inline-block;
        width: 250px;
    }
    &-right {
        float: right;
        width: 1140 - 250 - 30px;
        background-color: $bg-main-color;
    }
}