@import "../variables.scss";
@import "../mixin.scss";
.#{$prefix}{
    &-headband{
        height: 5px;
        background-color: $bg-header-color;
    }
    &-main{
        margin: 0 auto;
        width: 940px;
    }
    &-left{
        float: left;
        display: inline-block;
        width: 210px;
    }
    &-right{
        float: right;
        width: 940 - 210 - 30px;
        background-color: $bg-main-color;
    }
    &-site,
    &-sidebar{
        display: block;
        width: 100%;
        background-color: $bg-main-color;
    }
    &-sidebar{
        margin-bottom: 10px;
    }
    &-site{
        &-brand{
            text-align: center;
            margin-bottom: 20px;
            &-meta{
                height: 110px;
                background-color: $bg-header-color;
                color: $ft-f2-color;
            }
            &-title{
                display: block;
                font-size: 18px;
                @include height(70px);
                color: $ft-f4-color;
            }
        }
        &-author{
            padding: 10px;
            img{
                display: block;
                margin: 15px auto 5px;
                width: 120px;
                height: 120px;
                @include border;
            }
            &-name,
            &-description{
                display: block;
                @include height(25px);
                text-align: center;
            }
            &-name{
                font-size: 16px;
                font-weight: bold;
                color: $ft-f5-color;
            }
            &-description{
                color: $ft-f3-color;
            }
        }
    }
    &-navbar{
        display: block;
        &-item{
            display: block;
            padding: 0 15px 0 21px;
            @include height(40px);
            @include border-bottom;
            color: $ft-f6-color;
        }
        &-item.curr{
            background-color: $bg-curr-color;
            &:after{
                content: ' ';
                display: inline-block;
                float: right;
                margin-top: 18px;
                width: 6px;
                height: 6px;
                background-color: $bg-curr-after-color;
                border-radius: 50%;
            }
        }
    }
    &-article{
        padding: 20px 40px 0;
        @include border-bottom;
        &-title{
            font-size: 20px;
            @include height(40px);
        }
        &-box{
            position: relative;
            padding: 10px 0;
            height: 140px;
        }
        &-img{
            position: absolute;
            top: 10px;
            left: 0;
            width: 120px;
            height: 120px;
            @include border;
        }
        &-info{
            float: left;
            margin-left: 140px;
            height: 120px;
            &-description{
                height: 90px;
                overflow: hidden;
            }
            &-meta{
                font-size: 12px;
                color: $ft-f3-color;
                span{
                    &:after{
                        content: '|';
                        display: inline-block;
                        margin: 0 5px;
                    }
                    &:last-child:after{
                        content: '';
                    }
                }
            }
        }

    }
}