@import "../common/variables.scss";
.#{$css-prefix}{
    &-switch{
        position: relative;
        width: .88rem;
        height: 1rem;
        cursor: pointer;
        &::after {
            width: .5rem;
            height: .5rem;
            -webkit-transition: left .15s;
            -moz-transition: left .15s;
            transition: left .15s;
            background: #fff;
            /*默认未选取*/
            left: .01rem;
        }

        &::before {
            width: 100%;
            height: .52rem;
            /*默认未选取*/
            background: #e2e2e2;
        }
        &::after,
        &::before {
            position: absolute;
            top: 50%;
            content: '';
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            border-radius: 999px;
        }
        &:checked::after {
            left: .35rem
        }
        &:checked::before {
            background: #4DD865
        }
    }
}