$css-prefix: sf;
/**   默认配置  **/
/*颜色*/
$default-color: #fff;
$disabled-color: #ccc;
$rise-color: #e2233e;
$fall-color: #00ba50;
$primary-color: #04be02;
$danger-color: #ef4f4f;
$gray-color: #f0f0f0;
$gray1-color: #fbf7f7;


/*字体*/
$default-font-size: .42rem;

/*按钮*/
$btn-height: 1rem;
$btn-small-height: .8rem;

/*面板*/
$pannel-height: 1rem;
